@page "/erp/listofneed"
@using GoWMS.Server.Data
@using GoWMS.Server.Controllers
@using GoWMS.Server.Models
@using GoWMS.Server.Models.Erp
@using System;
@using System.Diagnostics;
@using System.Threading;

@inject ErpService ObjErpService

@if (Elements == null)
{
    // <p><em>Loading...</em></p>
    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
}
else
{
    <MudText Typo="Typo.h6" Color="Color.Primary"> @mPageHeader </MudText>
    <MudTable Items="@Elements" FixedHeader="@fixed_header" FixedFooter="@fixed_footer" Height="@(fixed_header || fixed_footer ?"600px":"")" Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped" Filter="new Func<V_List_OF_Materials_NeedsInfo,bool>(FilterFunc)" @bind-SelectedItem="selectedItem">
        <ToolBarContent>
            <MudTooltip Text="Export" Color="Color.Secondary" Placement="Placement.Top">
                <MudMenu Icon="@Icons.Filled.Download" Color="Color.Primary">
                    <MudMenuItem>Excel</MudMenuItem>
                    <MudMenuItem>Pdf</MudMenuItem>
                </MudMenu>
            </MudTooltip>
            <MudSpacer />
            <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        </ToolBarContent>

        <HeaderContent>
            <MudTh><MudTableSortLabel SortBy="new Func<V_List_OF_Materials_NeedsInfo, object>(x=>x.Customer)">Customer</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<V_List_OF_Materials_NeedsInfo, object>(x=>x.Customer_Name)">CustomerName</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<V_List_OF_Materials_NeedsInfo, object>(x=>x.Finished_Product)">FinishProduct</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<V_List_OF_Materials_NeedsInfo, object>(x=>x.Finished_Product_Description)">FinishProductDescription</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<V_List_OF_Materials_NeedsInfo, object>(x=>x.Material_Code)">Material</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<V_List_OF_Materials_NeedsInfo, object>(x=>x.Description)">Description</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<V_List_OF_Materials_NeedsInfo, object>(x=>x.Quantity)">Quantity</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<V_List_OF_Materials_NeedsInfo, object>(x=>x.Unit)">Unit</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<V_List_OF_Materials_NeedsInfo, object>(x=>x.Job)">Job</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<V_List_OF_Materials_NeedsInfo, object>(x=>x.Job_Code)">JobCode</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<V_List_OF_Materials_NeedsInfo, object>(x=>x.MO_Barcode)">MOBarcode</MudTableSortLabel></MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Customer">@context.Customer</MudTd>
            <MudTd DataLabel="CustomerName">@context.Customer_Name</MudTd>
            <MudTd DataLabel="FinishProduct">@context.Finished_Product</MudTd>
            <MudTd DataLabel="FinishProductDescription">@context.Finished_Product_Description</MudTd>
            <MudTd DataLabel="Material">@context.Material_Code</MudTd>
            <MudTd DataLabel="Description">@context.Description</MudTd>
            <MudTd DataLabel="Quantity">@context.Quantity</MudTd>
            <MudTd DataLabel="Unit">@context.Unit</MudTd>
            <MudTd DataLabel="Job">@context.Job</MudTd>
            <MudTd DataLabel="JobCode">@context.Job_Code</MudTd>
            <MudTd DataLabel="MOBarcode">@context.MO_Barcode</MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager PageSizeOptions="new int[]{10,20,50,100}" />
        </PagerContent>
    </MudTable>
}

@code {
    private string mPageHeader = "List of Need Material";
    //private string msgAction = "Enter Palletcode";
    private string mPalletcode { get; set; } = "";
    private string mPackid { get; set; } = "";
    private string palletcode { get; set; }
    private bool dense = true;
    private bool hover = true;
    private bool striped = true;
    private bool bordered = false;
    private bool fixed_header = true;
    private bool fixed_footer = true;
    private string searchString = "";
    private string stoptime = "";
    private V_List_OF_Materials_NeedsInfo selectedItem = null;
    private HashSet<V_List_OF_Materials_NeedsInfo> selectedItems = new HashSet<V_List_OF_Materials_NeedsInfo>();
    private IEnumerable<V_List_OF_Materials_NeedsInfo> Elements = new List<V_List_OF_Materials_NeedsInfo>();

    public int elevation = 0;

    protected override async Task OnInitializedAsync()
    {
        ErpService objCS = new ErpService();
        //Elements = await Task.Run(() => objCS.GetReceivingOrdersbypallet(mPalletcode));
        // Create new stopwatch.
        Stopwatch stopwatch = new Stopwatch();

        // Begin timing.
        stopwatch.Start();

        Elements = await Task.Run(() => objCS.GetAllErpListofNeeds());
        // Stop timing.
        stopwatch.Stop();
        // Write result.
        Console.WriteLine("Time elapsed: {0}", stopwatch.Elapsed);

    }


    private bool FilterFunc(V_List_OF_Materials_NeedsInfo element)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.Material_Code.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.Customer.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if ($"{element.Customer_Name} {element.Description} {element.MO_Barcode}".Contains(searchString))
            return true;
        return false;
    }

}
