@page "/oub/reservedmat"
@using GoWMS.Server.Data
@using GoWMS.Server.Controllers
@using GoWMS.Server.Models
@using GoWMS.Server.Models.Api
@using System.Security.Claims

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IJSRuntime JSRuntime

@inject ErpApiService ObjService
@inject UserServices OpjUserService

@if (Elements == null)
{
    //<p><em>Loading...</em></p>
    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
}
else
{
    <MudText Typo="Typo.h6" Color="Color.Primary"> @pageheader </MudText>
    <MudTable Items="@Elements" FixedHeader="@fixed_header" FixedFooter="@fixed_footer" Height="@(fixed_header || fixed_footer ?VarGlobals.TableHeight:"")" Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped" Filter="new Func<Api_Reservedmaterials_Go,bool>(FilterFunc)" @bind-SelectedItem="selectedItem" SortLabel="Sort By">
        <ToolBarContent>
            <MudTooltip Text="Export" Color="Color.Secondary" Placement="Placement.Top">
                <MudMenu Icon="@Icons.Filled.Download" Color="Color.Primary">
                    <MudMenuItem>Excel</MudMenuItem>
                    <MudMenuItem>Pdf</MudMenuItem>
                </MudMenu>
            </MudTooltip>
            <MudSpacer />
            <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        </ToolBarContent>

        <HeaderContent>
            <MudTh><MudTableSortLabel SortBy="new Func<Api_Reservedmaterials_Go, object>(x=>x.Mo_Barcode)">MOBARCODE</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<Api_Reservedmaterials_Go, object>(x=>x.Job)">JOB</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<Api_Reservedmaterials_Go, object>(x=>x.Job_Code)">JOBCODE</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<Api_Reservedmaterials_Go, object>(x=>x.Package_Id)">PACKID</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<Api_Reservedmaterials_Go, object>(x=>x.Material_Code)">MATERIAL</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<Api_Reservedmaterials_Go, object>(x=>x.Material_Description)">DESCRIPTION</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<Api_Reservedmaterials_Go, object>(x=>x.Quantity)">QTY</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<Api_Reservedmaterials_Go, object>(x=>x.Unit)">UNIT</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<Api_Reservedmaterials_Go, object>(x=>x.Roll_Id)">ROLLID</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<Api_Reservedmaterials_Go, object>(x=>x.Wh_Code)">WHCODE</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<Api_Reservedmaterials_Go, object>(x=>x.Warehouse)">WAREHOUSE</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<Api_Reservedmaterials_Go, object>(x=>x.Locationno)">LOCATION</MudTableSortLabel></MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="MOBARCODE">@context.Mo_Barcode</MudTd>
            <MudTd DataLabel="JOB">@context.Job</MudTd>
            <MudTd DataLabel="JOBCODE">@context.Job_Code</MudTd>
            <MudTd DataLabel="PACKID">@context.Package_Id</MudTd>
            <MudTd DataLabel="MATERIAL">@context.Material_Code</MudTd>
            <MudTd DataLabel="DESCRIPTION">@context.Material_Description</MudTd>
            <MudTd DataLabel="QTY">@string.Format(VarGlobals.FormatN2, context.Quantity)</MudTd>
            <MudTd DataLabel="UNIT">@context.Unit</MudTd>
            <MudTd DataLabel="ROLLID">@context.Roll_Id</MudTd>
            <MudTd DataLabel="WHCODE">@context.Wh_Code</MudTd>
            <MudTd DataLabel="WAREHOUSE">@context.Warehouse</MudTd>
            <MudTd DataLabel="LOCATION">@context.Locationno</MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager PageSizeOptions="new int[]{10,20,50,100}" />
        </PagerContent>
    </MudTable>
}

@code {

    IEnumerable<int> pageSizeOptions = new int[] { 10, 20, 30, 50, 100 };

    private readonly string pageheader = "Material";
    private string mPagedesc { get; set; } = "Good Receive";
    private string mPagename { get; set; } = "/Pag/1/1_3";
    private string msgAction = "Enter Palletcode";
    private string mPalletcode { get; set; } = "";
    private string mPackid { get; set; } = "";
    private string palletcode { get; set; }
    private bool dense = true;
    private bool hover = true;
    private bool striped = true;
    private bool bordered = false;
    private bool fixed_header = true;
    private bool fixed_footer = true;
    private string searchString = "";
    private Api_Reservedmaterials_Go selectedItem = null;
    private HashSet<Api_Reservedmaterials_Go> selectedItems = new HashSet<Api_Reservedmaterials_Go>();
    private IEnumerable<Api_Reservedmaterials_Go> Elements = new List<Api_Reservedmaterials_Go>();
    public int elevation = 0;

    protected override async Task OnInitializedAsync()
    {
        ErpApiService objCS = new ErpApiService();
        //Elements = await Task.Run(() => objCS.GetReceivingOrdersbypallet(mPalletcode));
        Elements = await Task.Run(() => objCS.GetAllApiReservedmaterialGos());
    }

    private void setstr(string str)
    {
        //if (mPalletcode.Length <= 0)
        //{
        //    mPalletcode = str;
        //    msgAction = "Enter Pack ID";
        //    elevation = 3;
        //}
        //else
        //{
        //    if (str == mPalletcode)
        //    {
        //        elevation = 2;
        //        msgAction = "Mapping successfully";
        //        ObjCustomService.UpdateReceivingOrderbypallet(mPalletcode);
        //        mPalletcode = "";
        //    }
        //    else
        //    {
        //        mPackid = str;
        //        ObjCustomService.UpdateReceivingOrderbypack(mPalletcode, mPackid);
        //    }
        //}
        //CustomerService objGR = new CustomerService();
        //Elements = objGR.GetReceivingOrdersbypallet(mPalletcode);
    }

    private string stxtInput { get; set; }

    private void DoTheThing(KeyboardEventArgs eventArgs)
    {
        if (eventArgs.Key == "Enter")        // fire on enter
        {
            setstr(palletcode);
            palletcode = "";
        }
    }

    private bool FilterFunc(Api_Reservedmaterials_Go element)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.Mo_Barcode.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        return false;
    }
}
