@page "/wh/capacity"
@using GoWMS.Server.Data
@using GoWMS.Server.Controllers
@using GoWMS.Server.Models
@using Microsoft.EntityFrameworkCore

@inject WhService ObjService
@inject UserServices OpjUserService

@if (Elements == null)
{
    // <p><em>Loading...</em></p>
    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
}
else
{
    <MudText Typo="Typo.h6" Color="Color.Primary"> @pageheader </MudText>
    <MudTable Items="@Elements" FixedHeader="@fixed_header" FixedFooter="@fixed_footer" Height="@(fixed_header || fixed_footer ?"600px":"")" Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped" Filter="new Func<WhStorageCapacity,bool>(FilterFunc)" @bind-SelectedItem="selectedItem" SortLabel="Sort By">
        <ToolBarContent>
            <MudTooltip Text="Export" Color="Color.Secondary" Placement="Placement.Top">
                <MudMenu Icon="@Icons.Filled.Download" Color="Color.Primary">
                    <MudMenuItem>EXCEL</MudMenuItem>
                    <MudMenuItem>PDF</MudMenuItem>
                </MudMenu>
            </MudTooltip>
            <MudSpacer />
            <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        </ToolBarContent>

        <HeaderContent>
            <MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<WhStorageCapacity, object>(x=>x.Srmname)">LANE</MudTableSortLabel></MudTh>
            <MudTh Style="text-align:right"><MudTableSortLabel SortBy="new Func<WhStorageCapacity, object>(x=>x.Locavlt1)">OCCUPIED</MudTableSortLabel></MudTh>
            <MudTh Style="text-align:right"><MudTableSortLabel SortBy="new Func<WhStorageCapacity, object>(x=>x.Locemp)">FREE</MudTableSortLabel></MudTh>
            <MudTh Style="text-align:right"><MudTableSortLabel SortBy="new Func<WhStorageCapacity, object>(x=>x.Perr)">BLOCK/ERROR</MudTableSortLabel></MudTh>
            <MudTh Style="text-align:right"><MudTableSortLabel SortBy="new Func<WhStorageCapacity, object>(x=>x.Plemp)">STACK</MudTableSortLabel></MudTh>
            <MudTh Style="text-align:right"><MudTableSortLabel SortBy="new Func<WhStorageCapacity, object>(x=>x.Total)">TOTAL</MudTableSortLabel></MudTh>
            <MudTh Style="text-align:right"><MudTableSortLabel SortBy="new Func<WhStorageCapacity, object>(x=>x.OccRate)">RATE</MudTableSortLabel></MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd Class="clm-row-small" DataLabel="Lane">@context.Srmname</MudTd>
            <MudTd Class="clm-row-small" DataLabel="OCCUPIED" Style="text-align:right">@string.Format(VarGlobals.FormatN0, context.Locavlt1)</MudTd>
            <MudTd Class="clm-row-small" DataLabel="FREE" Style="text-align:right">@string.Format(VarGlobals.FormatN0, context.Locemp)</MudTd>
            <MudTd Class="clm-row-small" DataLabel="BLOCK/ERROR" Style="text-align:right">@string.Format(VarGlobals.FormatN0, context.Perr)</MudTd>
            <MudTd Class="clm-row-small" DataLabel="STACK" Style="text-align:right">@string.Format(VarGlobals.FormatN0, context.Plemp)</MudTd>
            <MudTd Class="clm-row-small" DataLabel="TOTAL" Style="text-align:right">@string.Format(VarGlobals.FormatN0, context.Total)</MudTd>
            <MudTd Class="clm-row-small" DataLabel="RATE" Style="text-align:right">@context.OccRate %</MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager PageSizeOptions="new int[]{10,20,50,100}" />
        </PagerContent>
    </MudTable>
}

@code {



    IEnumerable<int> pageSizeOptions = new int[] { 10, 20, 30, 50, 100 };

    private readonly string pageheader = "Capacity";
    private string msgAction = "Enter Palletcode";
    private string mPalletcode { get; set; } = "";
    private string mPackid { get; set; } = "";
    private string palletcode { get; set; }
    private bool dense = true;
    private bool hover = true;
    private bool striped = true;
    private bool bordered = false;
    private bool fixed_header = true;
    private bool fixed_footer = true;
    private string searchString = "";
    private WhStorageCapacity selectedItem = null;
    private HashSet<WhStorageCapacity> selectedItems = new HashSet<WhStorageCapacity>();
    private IEnumerable<WhStorageCapacity> Elements = new List<WhStorageCapacity>();

    public int elevation = 0;

    protected override async Task OnInitializedAsync()
    {
        WhService objCS = new WhService();
        //Elements = await Task.Run(() => objCS.GetReceivingOrdersbypallet(mPalletcode));
        Elements = await Task.Run(() => objCS.GetWhStorageCapacities());
    }

    private void setstr(string str)
    {
        //if (mPalletcode.Length <= 0)
        //{
        //    mPalletcode = str;
        //    msgAction = "Enter Pack ID";
        //    elevation = 3;
        //}
        //else
        //{
        //    if (str == mPalletcode)
        //    {
        //        elevation = 2;
        //        msgAction = "Mapping successfully";
        //        ObjCustomService.UpdateReceivingOrderbypallet(mPalletcode);
        //        mPalletcode = "";
        //    }
        //    else
        //    {
        //        mPackid = str;
        //        ObjCustomService.UpdateReceivingOrderbypack(mPalletcode, mPackid);
        //    }
        //}

        //CustomerService objGR = new CustomerService();
        //Elements = objGR.GetReceivingOrdersbypallet(mPalletcode);
    }

    private string stxtInput { get; set; }

    private void DoTheThing(KeyboardEventArgs eventArgs)
    {
        if (eventArgs.Key == "Enter")        // fire on enter
        {
            setstr(palletcode);
            palletcode = "";
        }
    }

    private bool FilterFunc(WhStorageCapacity element)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.Srmname.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        return false;
    }



}
